<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restart Time Group</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/404.css">
</head>

<body>

    <section class=" section section-errore">
        <div class="logo">
            <a href="index.html"></a>
            <img src="../img/logo.png" alt="">
        </div>
        <h2>404</h2>
        <p>Упс!... Что-то пошло не так
            <span> Проверьте адрес страници</span>
        </p>
        <div class="action">
            <a href="index.html" class="btn">Перейти на главную</a>
        </div>
    </section>


    <script src="../js/jquery.min.js"></script>
</body>

</html>