<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Restart Time Group</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index-preview.css">
</head>

<body>

    <!--<section class="no-connection">-->
    <!--  <div class="no-connection__inner">-->
    <!--    <a href="index.html" class="no-connection__logo"><img class="no-connection__logo-img" src="../img/logo2.png" alt="Логотип"></a>-->
    <!--    <img src="../img/no-connection-img.png" alt="Фотография отсуствие интернета" class="no-connection__img">-->
    <!--    <h1 class="no-connection__title">Интернет - соединение потеряно</h1>-->
    <!--    <p class="no-connection__text">Попробуйте повторить позднее</p>-->
    <!--    <button class="no-connection__trying-button" type="button">Повторить попытку</button>-->
    <!--  </div>-->
    <!--</section>-->



    <script src="../js/jquery.min.js"></script>
    <!--<script src="../js/jquery.mask.min.js"></script>-->
    <!--<script src="../js/jcf.min.js"></script>-->
    <!--<script src="../js/jcf.select.min.js"></script>-->
    <!--<script src="../js/jquery.matchHeight.min.js"></script>-->
    <!--<script src="../js/slick.min.js"></script>-->
    <!--<script src="../js/script.min.js"></script>-->
    <!--<script src="../js/seekers-home.min.js"></script>-->
</body>

</html>