<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restart Time Group</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/seekers-about.css">
</head>

<body>

    <div class="menu-mobile">
        <span class="close-menu"></span>
        <nav>
            <ul>
                <li><a href="seekers-about.html">О нас</a></li>
                <li><a href="seekers-vacancies.html">Вакансии</a></li>
                <li><a href="seekers-reviews.html">Отзывы</a></li>
                <li><a href="seekers-news.html">Новости</a></li>
                <li><a href="seekers-blog.html">Стаитьи</a></li>
                <li><a href="seekers-partners.html">Партнерам</a></li>
                <li><a href="seekers-сontacts.html">Контакты</a></li>
            </ul>
        </nav>
    </div>

    <div class="conditions-popup">
        <span class="close"></span>
        <div class="conditions-content">
            <span class="close-popup"></span>
            <h3>Условия и правила</h3>
            <div class="text">
                <p><strong>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
                    например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </strong>
                </p>
                <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                <p>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p>4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <p>5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div>

    <div class="complaints-popup">
        <span class="close"></span>
        <div class="complaints-content">
            <span class="close-popup"></span>
            <h3>Условия и правила</h3>
            <form>
                <div>
                    <input type="text" placeholder="ФИО / Название фирмы">
                    <input type="text" placeholder="Email">
                </div>
                <textarea placeholder="Текст"></textarea>
                <button>Отправить</button>
            </form>
        </div>
    </div>

    <header class="seekers-header">
        <div class="header-top">
            <div class="container clearfix">
                <span class="top-menu">
                <span></span>
                </span>
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="seekers-about.html">О нас</a></li>
                            <li><a href="seekers-vacancies.html">Вакансии</a></li>
                            <li><a href="seekers-reviews.html">Отзывы</a></li>
                            <li><a href="seekers-news.html">Новости</a></li>
                            <li><a href="seekers-blog.html">Стаитьи</a></li>
                            <li><a href="seekers-partners.html">Партнерам</a></li>
                            <li><a href="seekers-сontacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="status-time clearfix">
                    <a class="status" href="javascript:void(0)"><i class="icon-document"></i><span>Статус дела</span></a>
                    <div class="time show">
                        <i class="icon-clock"></i>будни 08:00 - 20:00
                        <ul class="drop drop-time">
                            <li><span><i class="icon-clock"></i><span>будни 08:00 - 20:00</span></span>
                            </li>
                            <li><span><i class="icon-clock"></i><span>будни 08:00 - 20:00</span></span>
                            </li>
                            <li><span><i class="icon-clock"></i><span>будни 08:00 - 20:00</span></span>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="personal-area"><i class="icon-man-user"></i></a>
                </div>
            </div>
        </div>
        <div class="seekers-center">
            <div class="container clearfix">
                <a href="seekers-index.html" class="logo"><img src="../img/seekers-logo.png" alt=""></a>
                <div class="languages-search">
                    <form class="form-desc">
                        <input type="text" placeholder="Поиск">
                        <button></button>
                    </form>
                    <ul class="tel">
                        <li class="show">
                            <a href="javascript:void(0)">+883510008210906</a>
                            <ul class="drop">
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a>
                                </li>
                            </ul>
                        </li>
                        <li class="show">
                            <a href="javascript:void(0)">+38 (067) 90 23 266</a>
                            <ul class="drop">
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="form-mobile">
                        <input type="text" placeholder="Поиск">
                        <button></button>
                    </form>
                    <ul class="languages">
                        <li class="dropdown">
                            <span>UA</span>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/languages-img1.png" alt="">Ukr</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/languages-img2.png" alt="">Rus</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/languages-img3.png" alt="">Deu</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../img/languages-img4.png" alt="">Pol</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container clearfix">
                <span class="bottom-menu">
                <span></span>
                </span>
                <nav>
                    <ul>
                        <li><a href="seekers-index.html">Главная</a></li>
                        <li><a href="seekers-visas.html">Визы</a></li>
                        <li><a href="seekers-cooperation.html">Работа</a></li>
                        <li><a href="javascript:void(0)">Бизнес</a></li>
                        <li><a href="javascript:void(0)">Недвижимость</a></li>
                        <li><a href="javascript:void(0)">Автомобили</a></li>
                        <li><a href="javascript:void(0)">Обучения</a></li>
                        <li><a href="seekers-scammers.html">Мошенниики</a></li>
                        <li><a href="javascript:void(0)">Другое</a></li>
                    </ul>
                </nav>
                <a href="javascript:void(0)" class="personal-area"><i class="icon-man-user"></i>Иван Иванов</a>
            </div>
            <nav class="nav-mobile">
                <ul>
                    <li><a href="seekers-index.html">Главная</a></li>
                    <li><a href="seekers-visas.html">Визы</a></li>
                    <li><a href="seekers-cooperation.html">Работа</a></li>
                    <li><a href="javascript:void(0)">Бизнес</a></li>
                    <li><a href="javascript:void(0)">Недвижимость</a></li>
                    <li><a href="javascript:void(0)">Автомобили</a></li>
                    <li><a href="javascript:void(0)">Обучения</a></li>
                    <li><a href="seekers-scammers.html">Мошенниики</a></li>
                    <li><a href="javascript:void(0)">Другое</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="seekers-index.html">Главная</a></li>
                <li><span>О нас</span></li>
            </ul>
        </div>
    </div>

    <section class="seekers-about">
        <div class="container">
            <div class="title">
                <h2>О нас</h2>
            </div>
            <div class="about-content">
                <div class="about-text clearfix">
                    <div class="img" style="background: url('../img/seekers-about-img.png') 50% 50% no-repeat; background-size: cover;"></div>
                    <div class="text">
                        <p>«Restart Time Group» — это компания, основанная командой, еще в 2013 году(в 2018 как бренд RTG) людьми которые сами иммигрировавших в разные странцы мира. Главный офис компании находится в городе Польше, - Жешув. В настоящее время
                            компания «Restart Time Group» динамично развивается, расширяя штат своих сотрудников. Главным направлением в работе остается предоставление работы, обучение и других иммиграционных услуг.</p>
                    </div>
                </div>
            </div>
            <div class="about-items">
                <div class="about-item">
                    <h4>Наши цели</h4>
                    <p>Цель компаний компании— максимально качественно и выгодно предоставлять доступные услуги для обычных людей в основном гражданам Украину, но также населению стран СНГ, а также объединить всех посредников и сосздать с ними огромную сеть,
                        где Вы сможете бесплатно получить работу в Польше, тем же свузим количество посредников, чтобы Вам дорогой наш клиент было легче выбрать и сравнить.</p>
                </div>
                <div class="about-item">
                    <h4>Наши услуги особенные</h4>
                    <p><strong>Мы не берем денег за трудоустройство в Польше как многие другие. Каждую вакансию которою мы 
                    предоставляем проверяем если выступаем по конкретной как кадровое агентство, а также предоставляем наши 
                    вакансии, где не посредственно мы являемся работодателями.</strong></p>
                    <p>Сотрудничая с нами Вы не только получете бесплатно работу в Польше, но перспективу официальной работы в Германии, Австрию и над списком стран мы работаем. Кроме стандартных услуг, мы готовы помочь в получении обучения за границей,
                        поможем полстью Вашей семье переехать и адаптироваться за границей в плодь до организации поступления детей в садок либо школу, получения кредита на жильё , получения пособий от государства страны в котору переехали. </p>
                    <p>Каждый день ведем переговоры с работодателями для создания рабочих мест людям с разынми проблемами с здоровьем, таких как слабослышащих. И это еще раз, бесплатно!</p>
                </div>
                <div class="about-item">
                    <h4>Стратегия развития</h4>
                    <p>«Restart Time Group» — один из ведущих игроков на рынке иммиграционных услуг Польши. С нашей помощью все желающие могут получить помощь и информацию о Польши от первоисточника. Мы постоянно совершенствуемся и воплощаем в жизнь новые
                        проекты. Компания и дальше будет предоставлять все более инновационные и доступные услуги, а также информацию, которая интересует наших потенциальных клиентов.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="sell">
        <div class="container">
            <div class="title">
                <h2>Мы не занимается продажей документов для открытие виз!</h2>
            </div>
            <div class="sell-content">
                <div class="sell-text clearfix">
                    <div class="img" style="background: url('../img/seekers-sell-img.png') 50% 50% no-repeat; background-size: cover;"></div>
                    <div class="text">
                        <div>
                            <p>Компания Restart Time Group является участником программы Rzetelna Firma (Надежная компания), которая объединяет более 50000 компаний из всех секторов экономики на территории Польши и подтверждает отсутствие невыполненных обязательств,
                                приведенных в Национальном реестре задолженностей BIG SA. Мы гарантируем легальное трудоустройство у проверенных польских работодателей, хорошо оплачиваемую работу и достойные условия проживания. Вакансии и услуги по трудоустройству
                                — бесплатные.</p>
                        </div>
                        <p>Мы предоставляем услуги на основании документов ПОСРЕДСТВОМ ОФИЦИАЛЬНОГО СОПРОВОЖДЕНИЯ В ГОСУДАРСТВЕННЫХ ОРГАНАХ ПОЛЬШИ. Следи за нами в социальных сетях и нашем
                            <a href="javascript:vpid(0)" target="_blonk">канале youtube.</a></p>
                        <p>Restart Time Group - с заботой о Вас!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partner-logo">
        <div class="container">
            <div class="partner-slider">
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img1.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img2.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img3.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img4.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img5.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img6.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img1.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img2.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img3.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img4.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img5.png" alt="">
                    </div>
                </div>
                <div>
                    <div class="partner-item">
                        <img src="../img/partner-img6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="seekers-footer">
        <div class="footer-content">
            <div class="container clearfix">
                <div class="logo-menu clearfix">
                    <img src="../img/logo2.png" alt="" class="logo">
                    <nav>
                        <h4>Наша компания</h4>
                        <ul>
                            <li><a href="javascript:void(0)">О компании</a></li>
                            <li><a href="javascript:void(0)">Контакты</a></li>
                            <li><a href="javascript:void(0)">Карьера</a></li>
                        </ul>
                    </nav>
                    <nav>
                        <h4>Информация</h4>
                        <ul>
                            <li><a href="javascript:void(0)">Стаитьи</a></li>
                            <li><a href="javascript:void(0)">Новости</a></li>
                            <li><a href="javascript:void(0)">Агентствам / Визовым центрам</a></li>
                            <li><a href="javascript:void(0)">Поезда за границу</a></li>
                            <li><a href="javascript:void(0)">Пересечение границы</a></li>
                            <li><a href="javascript:void(0)">Отдых за границей</a></li>
                            <li><a href="javascript:void(0)">Покупки за границей TAX FREE</a></li>
                            <li><a href="javascript:void(0)">Политика конфеденциальности</a></li>
                            <li><a href="javascript:void(0)">Как мы работаем</a></li>
                            <li><a href="javascript:void(0)">Очень частые вопросы</a></li>
                            <li><a href="javascript:void(0)">Видио отзывы</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-right">
                    <div class="clearfix">
                        <div class="contact">
                            <h6>Свяжитесь с нами:</h6>
                            <ul class="tel">
                                <li><a href="javascript:void(0)"><i class="icon-contact"></i> info@restarttimegroup.com</a></li>
                                <li><a href="javascript:void(0)"><i class="icon-phone-call"></i> Заказать звокнок</a></li>
                            </ul>
                            <h6>Мы в соцсетях</h6>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-001-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-002-twitter-logo-button"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-003-youtube"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-004-vk-social-logotype"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-005-facebook-logo-button"></i></a></li>
                            </ul>
                        </div>
                        <div class="terms">
                            <h6>Условия и правила</h6>
                            <a class="conditions_js" href="javascript:void(0)">Прочесть</a>
                            <h6>Жалобы и предложения</h6>
                            <a class="complaints_js" href="javascript:void(0)">Написать</a>
                        </div>
                        <ul class="applications">
                            <li>
                                <a href="javascript:void(0)"><img src="../img/applications1.png" alt=""></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../img/applications2.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="reserved">
                        <p>© 2002 - 2019 Кадровое Агентство RTG . Все права защищены. </p>
                        <p>Использование материалов этого сайта возможно только со ссылкой на источник.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/seekers-about.min.js"></script>
</body>

</html>