<footer class="employer-footer">
    <div class="footer-content">
        <div class="container">
            <div class="footer-top clearfix">
                <a class="logo" href=""><img src="../img/logo2.png" alt=""></a>
                <div class="footer-description clearfix">
                    <div class="description-item">
                        <p>Skontaktuj sie z nami i spetnij swoje zapotzebowanie info@restarttimegroup.com</p>
                    </div>
                    <div class="description-item">
                        <p>+48 233 906 207</p>
                        <p>Fryderyka Szopena 17 35-055 Rzeszow</p>
                    </div>
                    <div class="description-item">
                        <p>Restart time group Sp. z o.o.</p>
                        <p>NIP : 8133781992</p>
                        <p>380342660</p>
                        <p>0000734001</p>
                    </div>
                </div>
                <ul class="applications">
                    <li><a href="javascript:void(0)"><img src="../img/applications1.png" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/applications2.png" alt=""></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>2013-2019 Кадровое Агентство RTG - все права защищены. Использования материалов этого сайта возможно только со ссылкой на источник</p>
                <!-- <p>RESTART TIME GROUP ООО с местонахождением в Жешуве, ул. Фридриха Шопена 17, 35-055 Жешув, внесен в реестр предпринимателей Национального судебного реестра, проводимого районным судом для города. Жешув в Жешуве, XIII экономический факультет Национального судебного реестра, под номером KRS 0000734001, с номером ИНН 8133781992, номер REGON 380342660, с уставным капиталом в размере 50 000 злотых и филиалами в Кракове и Брозове.</p> -->
            </div>
        </div>
    </div>
</footer>