<div class="menu-mobile">
    <span class="close-menu"></span>
    <nav>
        <ul>
            <li><a href="employer-index.html">Главная</a></li>
            <li class="active"><a href="employer-about.html">О нас</a></li>
            <li><a href="employer-services.html">Наши услуги</a></li>
            <li><a href="employer-news.html">Новости</a></li>
            <li><a href="employer-blog.html">Блог</a></li>
            <li><a href="employer-faq.html">ЧАВО</a></li>
            <li><a href="employer-сontacts.html">Контакты</a></li>
        </ul>
    </nav>
</div>
<header class="employer-header">
    <div class="header-content">
        <div class="container clearfix">
            <span class="mune-open"><i class="icon-menu"></i></span>
            <a href="index.html" class="logo"><img src="../img/logo2.png" alt=""></a>
            <nav>
                <ul>
                    <li><a href="employer-index.html">Главная</a></li>
                    <li class="active"><a href="employer-about.html">О нас</a></li>
                    <li><a href="employer-services.html">Наши услуги</a></li>
                    <li><a href="employer-news.html">Новости</a></li>
                    <li><a href="employer-blog.html">Блог</a></li>
                    <li><a href="employer-faq.html">ЧАВО</a></li>
                    <li><a href="employer-сontacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="personal-languages">
                <ul class="languages">
                    <li class="dropdown">
                        <span>UA</span>
                        <ul>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img1.png" alt="">Ukr</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img2.png" alt="">Rus</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img3.png" alt="">Deu</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img4.png" alt="">Pol</a></li>
                        </ul>
                    </li>
                </ul>
                <!--                <a class="personal" href="javascript:void(0)"><i class="icon-man-user"></i><span>Иван Иванов</span></a>-->
            </div>
        </div>
    </div>
</header>