<footer class="seekers-footer">
    <div class="footer-content">
        <div class="container clearfix">
            <div class="logo-menu clearfix">
                <img src="../img/logo2.png" alt="" class="logo">
                <nav>
                    <h4>Наша компания</h4>
                    <ul>
                        <li><a href="javascript:void(0)">О компании</a></li>
                        <li><a href="javascript:void(0)">Контакты</a></li>
                        <li><a href="javascript:void(0)">Карьера</a></li>
                    </ul>
                </nav>
                <nav>
                    <h4>Информация</h4>
                    <ul>
                        <li><a href="javascript:void(0)">Стаитьи</a></li>
                        <li><a href="javascript:void(0)">Новости</a></li>
                        <li><a href="javascript:void(0)">Агентствам / Визовым центрам</a></li>
                        <li><a href="javascript:void(0)">Поезда за границу</a></li>
                        <li><a href="javascript:void(0)">Пересечение границы</a></li>
                        <li><a href="javascript:void(0)">Отдых за границей</a></li>
                        <li><a href="javascript:void(0)">Покупки за границей TAX FREE</a></li>
                        <li><a href="javascript:void(0)">Политика конфеденциальности</a></li>
                        <li><a href="javascript:void(0)">Как мы работаем</a></li>
                        <li><a href="javascript:void(0)">Очень частые вопросы</a></li>
                        <li><a href="javascript:void(0)">Видио отзывы</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-right">
                <div class="clearfix">
                    <div class="contact">
                        <h6>Свяжитесь с нами:</h6>
                        <ul class="tel">
                            <li><a href="javascript:void(0)"><i class="icon-contact"></i> info@restarttimegroup.com</a></li>
                            <li><a href="javascript:void(0)"><i class="icon-phone-call"></i> Заказать звокнок</a></li>
                        </ul>
                        <h6>Мы в соцсетях</h6>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="icon-001-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-002-twitter-logo-button"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-003-youtube"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-004-vk-social-logotype"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-005-facebook-logo-button"></i></a></li>
                        </ul>
                    </div>
                    <div class="terms">
                        <h6>Условия и правила</h6>
                        <a class="conditions_js" href="javascript:void(0)">Прочесть</a>
                        <h6>Жалобы и предложения</h6>
                        <a class="complaints_js" href="javascript:void(0)">Написать</a>
                    </div>
                    <ul class="applications">
                        <li><a href="javascript:void(0)"><img src="../img/applications1.png" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="../img/applications2.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="reserved">
                    <p>© 2002 - 2019 Кадровое Агентство RTG . Все права защищены. </p>
                    <p>Использование материалов этого сайта возможно только со ссылкой на источник.</p>
                </div>
            </div>
        </div>
    </div>
</footer>