<div class="menu-mobile">
    <span class="close-menu"></span>
    <nav>
        <ul>
            <li><a href="seekers-about.html">О нас</a></li>
            <li><a href="seekers-vacancies.html">Вакансии</a></li>
            <li><a href="seekers-reviews.html">Отзывы</a></li>
            <li><a href="seekers-news.html">Новости</a></li>
            <li><a href="seekers-blog.html">Стаитьи</a></li>
            <li><a href="seekers-partners.html">Партнерам</a></li>
            <li><a href="seekers-сontacts.html">Контакты</a></li>
        </ul>
    </nav>
</div>

<div class="conditions-popup">
    <span class="close"></span>
    <div class="conditions-content">
        <span class="close-popup"></span>
        <h3>Условия и правила</h3>
        <div class="text">
            <p><strong>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
                    например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </strong>
            </p>
            <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis. </p>
            <p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                gravida.
                Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <p>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
            <p>4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
            <p>5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </div>
</div>

<div class="complaints-popup">
    <span class="close"></span>
    <div class="complaints-content">
        <span class="close-popup"></span>
        <h3>Условия и правила</h3>
        <form>
            <div>
                <input type="text" placeholder="ФИО / Название фирмы">
                <input type="text" placeholder="Email">
            </div>
            <textarea placeholder="Текст"></textarea>
            <button>Отправить</button>
        </form>
    </div>
</div>

<header class="seekers-header">
    <div class="header-top">
        <div class="container clearfix">
            <span class="top-menu">
                <span></span>
            </span>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="seekers-about.html">О нас</a></li>
                        <li><a href="seekers-vacancies.html">Вакансии</a></li>
                        <li><a href="seekers-reviews.html">Отзывы</a></li>
                        <li><a href="seekers-news.html">Новости</a></li>
                        <li><a href="seekers-blog.html">Стаитьи</a></li>
                        <li><a href="seekers-partners.html">Партнерам</a></li>
                        <li><a href="seekers-сontacts.html">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="status-time clearfix">
                <a class="status" href="javascript:void(0)"><i class="icon-document"></i><span>Статус дела</span></a>
                <div class="time show">
                    <i class="icon-clock"></i>будни 08:00 - 20:00
                    <ul class="drop drop-time">
                        <li><span><i class="icon-clock"></i><span>будни 08:00 - 20:00</span></span></li>
                        <li><span><i class="icon-clock"></i><span>будни 08:00 - 20:00</span></span></li>
                        <li><span><i class="icon-clock"></i><span>будни 08:00 - 20:00</span></span></li>
                    </ul>
                </div>
                <a href="javascript:void(0)" class="personal-area"><i class="icon-man-user"></i></a>
            </div>
        </div>
    </div>
    <div class="seekers-center">
        <div class="container clearfix">
            <a href="seekers-index.html" class="logo"><img src="../img/seekers-logo.png" alt=""></a>
            <div class="languages-search">
                <form class="form-desc">
                    <input type="text" placeholder="Поиск">
                    <button></button>
                </form>
                <ul class="tel">
                    <li class="show">
                        <a href="javascript:void(0)">+883510008210906</a>
                        <ul class="drop">
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+883510008210906</a></li>
                        </ul>
                    </li>
                    <li class="show">
                        <a href="javascript:void(0)">+38 (067) 90 23 266</a>
                        <ul class="drop">
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../img/tel-icon2.png">+38 (067) 90 23 266</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="form-mobile">
                    <input type="text" placeholder="Поиск">
                    <button></button>
                </form>
                <ul class="languages">
                    <li class="dropdown">
                        <span>UA</span>
                        <ul>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img1.png" alt="">Ukr</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img2.png" alt="">Rus</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img3.png" alt="">Deu</a></li>
                            <li><a href="javascript:void(0)"><img src="../img/languages-img4.png" alt="">Pol</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container clearfix">
            <span class="bottom-menu">
                <span></span>
            </span>
            <nav>
                <ul>
                    <li><a href="seekers-index.html">Главная</a></li>
                    <li><a href="seekers-visas.html">Визы</a></li>
                    <li><a href="seekers-cooperation.html">Работа</a></li>
                    <li><a href="javascript:void(0)">Бизнес</a></li>
                    <li><a href="javascript:void(0)">Недвижимость</a></li>
                    <li><a href="javascript:void(0)">Автомобили</a></li>
                    <li><a href="javascript:void(0)">Обучения</a></li>
                    <li><a href="seekers-scammers.html">Мошенниики</a></li>
                    <li><a href="javascript:void(0)">Другое</a></li>
                </ul>
            </nav>
            <a href="javascript:void(0)" class="personal-area"><i class="icon-man-user"></i>Иван Иванов</a>
        </div>
        <nav class="nav-mobile">
            <ul>
                <li><a href="seekers-index.html">Главная</a></li>
                <li><a href="seekers-visas.html">Визы</a></li>
                <li><a href="seekers-cooperation.html">Работа</a></li>
                <li><a href="javascript:void(0)">Бизнес</a></li>
                <li><a href="javascript:void(0)">Недвижимость</a></li>
                <li><a href="javascript:void(0)">Автомобили</a></li>
                <li><a href="javascript:void(0)">Обучения</a></li>
                <li><a href="seekers-scammers.html">Мошенниики</a></li>
                <li><a href="javascript:void(0)">Другое</a></li>
            </ul>
        </nav>
    </div>
</header>